/* home landing page styling*/
#homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#homePageTitle,
#homePageTitleTag {
  color: rgb(248, 119, 54);
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: 2rem;
  text-align: left;
}

#homePageTitleTag {
  font-size: 1.6rem;
  margin-top: 0;
}

#imageContainerHomePage {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
}

#homeImage {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 25px;
}

@media (min-width: 555px) {
  #homeImage {
   width: 50%
  }
}

.buttonHome,
#submitTopicsButton, #playQuizButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #5e80a8;
  border: 0.1rem solid #71adf1;
  border-radius: 15px;
  background-color: rgb(232, 238, 243);
  padding: 0.4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  margin-left: 2rem;
}

#buttonHome,#submitTopicsButton {
  margin-bottom: 2rem;
}

/* choose topics styling */

#chooseTopicsHeadline, #pickQuizHeadline {
  color: rgb(248, 119, 54);
  font-size: 2rem;
  margin-left: 1rem;
  text-align: left;
}

#chooseTopicsTag,
#pickQuizTag, #topicsNames {
  color: #5e80a8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-align: left;
  margin-left: 1rem;
}

#categoryCard, #pickQuizCard {
  color: #5e80a8;
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 15px;
}

@media (min-width: 555px) {
  #categoryCard, #pickQuizCard {
    justify-content: center;
    max-width: 40%; 
    margin: 1rem auto; 
  }
  #buttonSection {
    display: flex;
    justify-content: center;
  }
}

#categoryName {
  color: #5e80a8;
}

#checkBoxContainer {
  display: flex;
  flex-direction: column;
  
}

#topicsNames {
  display: block;
  font-size: 1rem;
padding: .5rem
}

#checkbox {
  margin-right: 1rem;
}

#submitTopicsButton {
  margin-left: 1rem;
}

/*user stats styling*/

#userStats,
#yourTopics {
  display: flex;
  flex-direction: row;
}

@media (min-width: 555px) {
  #userStats {
    justify-content: center;
    max-width: 60%; 
    margin: 2rem auto; 
  }
}

#userCard,
#yourTopicsCard,
#topPlayersCard,
#rankContainer {
  color: #5e80a8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
}



#topPlayersCard {
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
  border-radius: 15px;
}

#userCardItem, .quizMessage {
  font-family: Arial, Helvetica, sans-serif;
  color: #5e80a8;
  margin: 0.5rem;
}

.quizMessage {
  margin-left: 1rem;
}

#yourTopicsHeadline,
#userCardHeadline,
#topPlayersHeadline {
  text-align: left;
  color: #5e80a8;
  margin-bottom: 1rem;
}

#topicName,
#topUserScores {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

#playQuizButton,
#changeTopicsButton, #continueQuizButton{
  color: #5e80a8;
  border: 0.1rem solid #71adf1;
  border-radius: 10px;
  background-color: rgb(232, 238, 243);
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

#changeTopicsButton, #continueQuizButton {
  border-radius: 15px;
  margin-left: 1rem;
  padding: 0.6rem;
}

#topUserScores {
  margin-bottom: 1rem;
}

#rankHeader {
  margin-bottom: 1rem;
}
#displayRank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rankImage {
  width: 70px;
  height: auto;
  margin-top: 1rem;
}

.levelStyling {
  font-family: Arial, Helvetica, sans-serif;
  color: #5e80a8;
}

/* pick quiz page styling */

#pickQuizSection {
  display: flex;
  justify-content: center;
}

#topicCard {
  display: flex;
  justify-content: center;
}

#buttonSection, #buttonSectionHome {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}

#buttonSectionHome {
  margin-bottom: 2rem;
}
#pickQuizMessageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.pickQuizMessage {
  color: #5e80a8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
}