/* navbar styling*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

#navbarEmoji {
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 25% 10%;
  background: linear-gradient(#c7d6f1, #71adf1);
}

#navBarSectionRight {
  display: flex;
}

.navLink {
  color: #5e80a8;
  border: 0.1rem solid #71adf1;
  border-radius: 10px;
  background-color: rgb(239, 244, 248);
  padding: 0.4rem;
  margin-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}

.login {
  list-style-type: none;
}

/* footer styling */

#footerSection {
  background-color: #aaccf3;
  align-items: center;
}

#footerNavElements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footerNavElement,
.footerLogin,
.footerLoginElement {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.footerNavElement a,
.footerNavElement a:visited {
  color: white;
  text-decoration: none;
}

.footerLoginElement {
  list-style-type: none;
  margin: 0;
}

#howToPlay {
  color: rgb(239, 244, 248);
  text-align: center;
}

#creators {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#creatorNames {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.creators,
.creatorsMiddle {
  color: white;
  text-align: center;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5rem;
}

.creators a,
.creators a:visited {
  color: white;
  text-decoration: none;
}

.creatorsMiddle {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* how to play styling */

.howToPlaySection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#howToPlayHeader,
#howToPlayTagline {
  color: rgb(248, 119, 54);
  font-size: 2rem;
}

#howToPlayTagline {
  font-size: 1.5rem;
}

#howToPlayInstructions {
  color: #5e80a8;
  font-size: 1rem;
  margin: 1rem;
}
