
.blur-50 { filter: blur(50px); }
.blur-45 { filter: blur(45px); }
.blur-40 { filter: blur(40px); }
.blur-35 { filter: blur(35px); }
.blur-30 { filter: blur(30px); }
.blur-25 { filter: blur(25px); }
.blur-20 { filter: blur(20px); }
.blur-15 { filter: blur(15px); }
.blur-10 { filter: blur(10px); }
.blur-5 { filter: blur(5px); }
.blur-0 { filter: blur(0px); }

  