/* how to play styling */

.howToPlaySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .howToPlayHeader, .howToPlayTagline {
    color:  rgb(248, 119, 54);
    font-size: 2rem;
  }

  .howToPlayTagline {
    font-size: 1.5rem;
  }

  .howToPlayInstructions {
    color: #5e80a8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 1rem;
  }

  .imageContainerTutorial {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    /*filter: drop-shadow(0px 0px 0.1rem #62a3ee);*/
  }

  .tutorialImage {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 25px;
  }

  .buttonSectionTutorial {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }
