* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html {
  height: 100%;
}
body,
#root {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(223, 228, 247) 30%, white 70%);
  min-height: 100vh;
  width: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#mainContent {
  flex: 1;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
