* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;
  font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  


body {
  background: linear-gradient(45deg, rgb(223, 228, 247) 30%, white 70%);
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

#userStats,
#yourTopics {
  display: flex;
  flex-direction: row;
}

/*game home styling*/
#imageContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  overflow: hidden;
  filter: drop-shadow(0px 0px .1rem #62a3ee);
}
#image {
  max-width: 100%;
  height: auto;
  display: block;
}

#answerGridTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #354353;
  margin-top: 0.7rem;
  text-align: center;
}

#answerGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

#userLetter,
#revealedLetter {
  color: #0654ad;
  background-color: rgb(248, 247, 242);
  font-family: monospace;
  font-size: 25px;
  text-align: center;
  width: 30px;
  height: 40px;
  margin: 0.1rem;
  box-sizing: border-box;
  border-radius: 5px;
}

#revealedLetter {
  background-color: #0654ad;
  color: white;
}

#gameHomeButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#button {
  font-size: 1rem;
  color: #5e80a8;
  border: 0.1rem solid #71adf1;
  border-radius: 15px;
  background-color: rgb(232, 238, 243);
  padding: 0.4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
}

#link {
  background-color: rgb(232, 238, 243);
}

/* navbar styling*/
.navbar {

  /*border-bottom: 0.1rem solid #71adf1;*/
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

#navbarEmoji {
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 25% 10%;
  background: linear-gradient(#c7d6f1, #71adf1);
}

#navLink {
  color: #5e80a8;
  border: 0.1rem solid #71adf1;
  border-radius: 10px;
  background-color: rgb(239, 244, 248);
  padding: 0.4rem;
  margin-left: .5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  text-decoration: none;
  cursor: pointer;
}

/*user stats styling*/

#userCard {
  color: #5e80a8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  filter: drop-shadow(0px 0px .1rem #62a3ee);
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
}

#userCardItem {
  font-family: Arial, Helvetica, sans-serif;
  color: #5e80a8;
  margin: .5rem;
}

#yourTopicsCard {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #5e80a8;
  filter: drop-shadow(0px 0px .1rem #62a3ee);
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
}

#yourTopicsHeadline, #userCardHeadline, #topPlayersHeadline {
  text-align: left;
  color: #5e80a8;
  margin-bottom: 1rem;
}

#topicName {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: .2rem;
}

#playQuizButton {
  color: #5e80a8;
  border: 0.1rem solid #71adf1;
  border-radius: 10px;
  background-color: rgb(232, 238, 243);
  margin-bottom: .5rem;
  padding: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

#changeTopicsButton {
  color: #5e80a8;
  border: 0.1rem solid #71adf1;
  border-radius: 15px;
  background-color: rgb(232, 238, 243);
  margin-left: 1rem;
  padding: .6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

#topPlayersCard {
  font-family: Arial, Helvetica, sans-serif;
  color: #5e80a8;
  filter: drop-shadow(0px 0px .1rem #62a3ee);
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
}

#topUserScores {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

/* home landing page styling*/
#homepageConatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#homePageTitle {
  color: rgb(248, 119, 54);
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: 2rem;
  text-align: left;
}

#imageContainerHomePage {
  margin-left: 1rem;
  margin-right: 1rem;  
  filter: drop-shadow(0px 0px .1rem #62a3ee);
}

#homeImage {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 25px;
}

#homePageTitleTag {
  color: rgb(248, 119, 54);
  font-size: 1.6rem;
  margin-left: 2rem;
  text-align: left;
}

#buttonHome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #5e80a8;
  border: 0.1rem solid #71adf1;
  border-radius: 15px;
  background-color: rgb(232, 238, 243);
  padding: 0.4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  margin-left: 2rem;
}
