* {
  /*background-color: rgb(241, 243, 247);*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;
}

body {
  background: linear-gradient(rgb(250, 251, 252), rgb(177, 190, 235));
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

#userStats,
#yourTopics {
  display: flex;
  flex-direction: row;
}

/*game home styling*/
#imageContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  overflow: hidden;
}
#image {
  max-width: 100%;
  height: auto;
  display: block;
}

#answerGridTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #354353;
  margin-top: 0.7rem;
  text-align: center;
}

#answerGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

#userLetter,
#revealedLetter {
  color: #0654ad;
  background-color: rgb(248, 247, 242);
  font-family: monospace;
  font-size: 25px;
  text-align: center;
  width: 30px;
  height: 40px;
  margin: 0.1rem;
  box-sizing: border-box;
  border-radius: 5px;
  
}

#revealedLetter {
  background-color: #0654ad;
  color: white;
}

#gameHomeButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#button {
  font-size: 1rem;
  color: #5e80a8;
  border: .1rem solid #71adf1;
  border-radius: 15px;
  background-color: rgb(232, 238, 243);
  padding: .4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
}

#link {
  background-color: rgb(232, 238, 243);
}

/* navbar styling*/
.navbar {
  background-color: rgb(248, 247, 242);
  border-bottom: .3rem solid rgb(191, 189, 196);
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

#navbarEmoji {
  font-size: 2.5rem;
  padding: .5rem;
  border-radius: 25% 10%;
  background: linear-gradient(#dfe5f0, #71adf1);
  filter: drop-shadow(2px 5px 2px rgb(128, 131, 129));  
}

#navLink {
  color: #5e80a8;
  border: .1rem solid #71adf1;
  border-radius: 15px;
  background-color: rgb(232, 238, 243);
  padding: .4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
