* {
  background-color: rgb(217, 234, 244);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

#userStats, #yourTopics {
    display: flex;
    flex-direction: row;
}

/*game home styling*/
#imageContainer {
  margin-top: 1rem;
  border-radius: 25px;
  overflow: hidden;
}
#image {
  max-width: 100%;
  height: auto;
  display: block;
}

#answerGridTitle {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: .7rem;
  text-align: center;
}

#answerGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .5rem;
}

#userLetter, #revealedLetter {
  background-color: white;
  font-family: monospace; 
  font-size: 25px; 
  width: 25px; 
  margin: .1rem;
  border: 1px solid; 
  box-sizing: border-box;
  text-align: center;
}

#revealedLetter {
  color: green;
}

#gameHomeButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#button {
  background-color: aqua;
  padding: .5rem;
  margin: .5rem;
  border-radius: 10px;
}

#link {
  background-color: aqua;
}





